<center><h1>Laboratorio 3</h1></center>
<br />
<center><p>La propuesta para la solución de este caso es una permutacion basada en una clave, así como un cifrado de Cesar</p></center>
<center><p>presione "Lab 4" para proceder con el laboratorio correspondiente o presione cualquiera de los otros botones para ir a laboratorios anteriores</p></center>
<br />
<center>
    <form method="post" action="@Url.Action("subirDatos", "Aspirante")">
        <button type="submit" id="llamarMetodoBtn1" name="llamarMetodoBtn1" class="botonplano">Lab 1</button>
    </form>
</center>
</br>
<center>
<form method="post" action="@Url.Action("SubirDatos2", "Aspirante")">
    <button type="submit" id="llamarMetodoBtn" name="llamarMetodoBtn" class="botonplano">lab 2</button>
    </form>
</center>
<center>
</br>
<form method="post" action="@Url.Action("SubirDatos3", "Aspirante")">
    <button type="submit" id="llamarMetodoBtn" name="llamarMetodoBtn" class="botonplano">lab 3</button>
    </form>
</center>
</br>
<center>
<form method="post" action="@Url.Action("SubirDatos4", "Aspirante")">
    <button type="submit" id="llamarMetodoBtn" name="llamarMetodoBtn" class="botonplano">lab 4</button>
    </form>
</center>
</br>